<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
<div th:replace="~{base :: header}"></div>

<section class="container">

    <h2 class="d-flex justify-content-center fw-bold font-monospace p-3" >Manage Event</h2>
    <hr />
    <div class="d-flex justify-content-end">
        <a  th:href="@{/events/admin/add}" class="btn btn-success">Add more event</a>
    </div>
    <hr />

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Zoom</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        <tr th:each="e: ${events}">
            <td th:text="${e.title}"></td>
            <td>
                <a th:href="@{${e.urlZoom}}" th:text="${e.urlZoom}" target="_blank"></a>
            </td>
            <td th:text="${e.startTime} "></td>
            <td th:text="${e.endTime}"></td>
            <td>
                <div class="d-flex">
                    <a th:href="@{'/events/admin/send-event/' + ${e.id}}" class="btn btn-primary text-white m-1">Send Email</a>
                    <form method="post"
                          th:action="@{'/events/admin/delete/' + ${e.id}}">
                        <button class="btn btn-danger m-1" type="submit">Xóa</button>
                    </form>
                    <a class="m-1 btn btn-info" th:href="@{'/events/admin/update/'+${e.id}}">Cập nhật</a>
                </div>
            </td>
        </tr>
    </table>
</section>

<div th:replace="~{base :: footer}"></div>
</body>
</html>