<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post</title>
    <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
<div th:replace="~{base :: header}"></div>

<section class="container">

    <h3 class="d-flex justify-content-center fw-bold font-monospace p-3" >Manage Post</h3>

    <form th:action="@{/posts/admin}">
        <div class="row d-flex">
            <div class="col-md-3">
                <input type="text" class="form-control" name="kw" placeholder="Từ khóa" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </div>
    </form>
    <hr>

    <div class="d-flex justify-content-end">
        <a th:href="@{/posts/admin/statistics}" class="btn btn-success m-2">Statistics Post</a>
    </div >
    <table class="table">
        <tr>
            <th>Người đăng</th>
            <th>Nội dung</th>
            <th>Ảnh</th>
            <th>Số lượng Comments</th>
            <th>Số lượng Reactions</th>
            <th>Ngày đăng</th>
            <th>Action</th>
        </tr>
        <tr th:each="p: ${posts}">
            <td th:if="${p.user.userId != null}" th:text="${p.user.userId} + ':' + ${p.user.fullName}"></td>
            <td th:text="${p.content}"></td>
            <td>
                <table th:if="${not #lists.isEmpty(p.imgUrls)}">
                    <tr th:each="image : ${p.imgUrls}">
                        <td>
                            <img th:src="${image}" alt="Ảnh bài viết" width="100"/>
                        </td>
                    </tr>
                </table>
                <span th:if="${#lists.isEmpty(p.imgUrls)}">Không có ảnh</span>
            </td>
            <td th:text="${p.totalComments}"></td>
            <td th:text="${p.statsReaction['TOTAL']}"></td>
            <td th:text="${#dates.format(p.createdAt, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{/posts/admin/delete/{id}(id=${p.id})}" class="btn btn-danger"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa bài viết này?')">Xóa</a>
            </td>
        </tr>
    </table>
    <div class="d-flex justify-content-center mt-3">
        <nav>
            <ul class="pagination">
                <!-- Previous -->
                <li class="page-item" th:classappend="${page <= 1} ? ' disabled'">
                    <a class="page-link"
                       th:if="${kw != null}"
                       th:href="@{'?kw=' + ${kw} + '&page=' + ${page - 1}}"
                    >
                        Previous
                    </a>
                    <a class="page-link"
                       th:unless="${kw != null}"
                       th:href="@{'?page=' + ${page - 1}}">
                        Previous
                    </a>
                </li>

                <!-- Page numbers -->
                <li class="page-item"
                    th:each="p : ${#numbers.sequence(1, totalPages)}"
                    th:classappend="${p == page} ? ' active'">
                    <a class="page-link"
                       th:if="${kw != null}"
                       th:href="@{'?kw=' + ${kw} + '&page=' + ${p}}"
                       th:text="${p}"></a>
                    <a class="page-link"
                       th:unless="${kw != null}"
                       th:href="@{'?page=' + ${p}}"
                       th:text="${p}"></a>
                </li>

                <!-- Next -->
                <li class="page-item" th:classappend="${page >= totalPages} ? ' disabled'">
                    <a class="page-link"
                       th:if="${kw != null}"
                       th:href="@{'?kw=' + ${kw} + '&page=' + ${page + 1}}">
                        Next
                    </a>
                    <a class="page-link"
                       th:unless="${kw != null}"
                       th:href="@{'?page=' + ${page + 1}}">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</section>

<div th:replace="~{base :: footer}"></div>
</body>
</html>