<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Survey</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
<div th:replace="base :: header"></div>

<section class="container">
    <h3 class="d-flex justify-content-center fw-bold font-monospace p-3" >Quản lý bài khảo sát</h3>
    <hr />
    <div class="alert alert-info" role="alert"
         th:if="${msg != null}"
         th:text="${msg}"
    >
    </div>
    <form th:action="@{/surveys/admin}">
        <div class="row d-flex">
            <div class="col-md-3">
                <input type="text" class="form-control" name="kw" placeholder="Từ khóa" th:value="${kw}"/>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" name="startDate"  th:value="${startDate}"/>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" name="endDate"  th:value="${endDate}"/>
            </div>
            <div class="col-md-3">
                <button class="btn btn-info" type="submit">Tìm kiếm</button>
            </div>
        </div>
    </form>
    <a  th:href="@{/surveys/admin/add}" class="btn btn-success">Thêm bài khảo sát</a>

    <hr>
    <table class="table">
        <tr>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Tác vụ</th>
        </tr>
        <tr th:each="s: ${surveys}">
            <td th:text="${s.title}"></td>
            <td th:text="${s.description}"></td>
            <td th:text="${s.startTime} "></td>
            <td th:text="${s.endTime}"></td>
            <td>
                <div class="d-flex">
                    <button class="btn btn-dark" type="button">
                        <a class="text-white" th:href="@{'/surveys/admin/update/'+${s.id}}">
                            Cập nhật
                        </a>
                    </button>
                    <form method="post"
                          th:action="@{'/surveys/admin/delete/' + ${s.id}}">
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </form>
                    <a th:href="@{'/surveys-stats/'+${s.id}}" class="btn btn-primary">Thống kê</a>
                </div>
            </td>
        </tr>
    </table>
    <hr>
    <div class="d-flex justify-content-center mt-1">
        <nav>
            <ul class="pagination">
                <li class="page-item" th:classappend="${page - 1 < 1} ? 'disabled'">
                    <a class="page-link" th:href="@{'?page=' + (${page} - 1)+'&kw='+${kw}}">Previous</a>
                </li>

                <li class="page-item" th:each="p : ${#numbers.sequence(1, totalPages)}" th:classappend="${p == page} ? 'active'">
                    <a class="page-link" th:href="@{'?page=' + ${p}+'&kw='+${kw}}" th:text="${p}"></a>
                </li>

                <li class="page-item" th:classappend="${page + 1 > totalPages} ? 'disabled'">
                    <a class="page-link" th:href="@{'?page=' + (${page} + 1)+'&kw='+${kw}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</section>
<div th:replace="base :: footer"></div>
<script th:src="@{/js/survey.js}"></script>
</body>
</html>