<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Manage User</title>
  <th:block th:replace="~{base :: styles}"></th:block>
</head>
<body>
<div th:replace="~{base :: header}"></div>

<section class="container">

  <h2 class="d-flex justify-content-center fw-bold font-monospace p-3" >Quản lý người dùng</h2>
  <hr />
  <div class="alert alert-info" role="alert"
       th:if="${msg != null}"
       th:text="${msg}"
  >
  </div>
  <form th:action="@{/users/admin}">
    <div class="row d-flex">
      <div class="col-md-3">
        <input type="text" class="form-control" name="kw" placeholder="Từ khóa" />
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" type="submit">Tìm kiếm</button>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-end">
    <a  th:href="@{/users/admin/add}" class="btn btn-success">Thêm người dùng</a>
  </div>
  <hr />

  <table class="table">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Họ tên</th>
      <th>Vai trò</th>
      <th>Số điện thoại</th>
      <th>Active</th>
      <th>Tác vụ</th>
    </tr>
    <tr th:each="u: ${users}">
      <td th:text="${u.username}"></td>
      <td th:text="${u.email}"></td>
      <td th:text="${u.fullName} "></td>
      <td th:text="${u.role}"></td>
      <td th:text="${u.phone}"></td>
      <td th:text="${u.active ? 'True' : 'False'}"></td>
      <td>
        <div class="d-flex">
          <form method="post"
                th:action="@{'/users/admin/delete'}" class="me-2"
                th:object="${u}"
          >
            <input type="hidden" th:value="${u.id}" name="id">
            <button class="btn btn-danger" type="submit"  onclick="return confirm('Bạn có chắc muốn xoá không?');">Xoá</button>
          </form>
          <form method="post"
                th:if="${u.active == false and u.role.name == 'ROLE_ALUMNI'}"
                th:action="@{'/users/admin/confirm'}"
                th:object="${u}"
          >
            <input type="hidden" th:value="${u.id}" name="id">
            <button class="btn btn-primary" type="submit" >Xác nhận</button>
          </form>

          <button class="btn btn-secondary" type="button"
                  th:if="${u.active == false and u.role.name == 'ROLE_LECTURER'}"
          >
            <a class="text-white" th:href="@{'/users/admin/reset-time-password/'+${u.username}}">
              Reset thời gian
            </a>
          </button>
          <button class="btn btn-dark" type="button">
            <a class="text-white" th:href="@{'/users/admin/update/'+${u.username}}">
              Cập nhật
            </a>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <div class="d-flex justify-content-center">
  <nav>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"
           th:href="@{'?page=' + ${page > 0 ? page - 1 : 1}}"
           th:classappend="${page == 0} ? ' disabled'">Previous</a>
      </li>

      <li class="page-item"
          th:each="p : ${#numbers.sequence(1, totalPages)}"
          th:classappend="${p == page} ? ' active'">
        <a class="page-link"
           th:href="@{'?page=' + ${p}}"
           th:text="${p}"></a>
      </li>

      <li class="page-item">
        <a class="page-link"
           th:href="@{'?page=' + ${page + 1}}"
           th:classappend="${page >= totalPages} ? ' disabled'">Next</a>
      </li>
    </ul>
  </nav>
  </div>

</section>

<div th:replace="~{base :: footer}"></div>

<script th:src="@{/js/user.js}"></script>
</body>
</html>